/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 [data-theme='dark']
 .heroBanner {
   padding: 4rem 0;
   text-align: left;
   position: relative;
   overflow: hidden;
   color:white;
   background-color:#1B1B1D;
 }
 
 .heroBanner {
   padding: 4rem 0;
   text-align: left;
   position: relative;
   overflow: hidden;
   color:#304B78;
   background-color: white;
 }
 
 @media screen and (max-width: 996px) {
   .heroBanner {
     padding: 2rem;
   }
 }