/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4785c9;
  --ifm-color-primary-dark: #3877bd;
  --ifm-color-primary-darker: #3471b3;
  --ifm-color-primary-darkest: #2b5d93;
  --ifm-color-primary-light: #5c93cf;
  --ifm-color-primary-lighter: #679ad2;
  --ifm-color-primary-lightest: #86afdc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4785c9;
  --ifm-color-primary-dark: #3877bd;
  --ifm-color-primary-darker: #3471b3;
  --ifm-color-primary-darkest: #2b5d93;
  --ifm-color-primary-light: #5c93cf;
  --ifm-color-primary-lighter: #679ad2;
  --ifm-color-primary-lightest: #86afdc;
}

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 [data-theme='dark']
 .heroBanner {
   padding: 4rem 0;
   text-align: left;
   position: relative;
   overflow: hidden;
   color:white;
   background-color:#1B1B1D;
 }
 
 .heroBanner {
   padding: 4rem 0;
   text-align: left;
   position: relative;
   overflow: hidden;
   color:#304B78;
   background-color: white;
 }
 
 @media screen and (max-width: 996px) {
   .heroBanner {
     padding: 2rem;
   }
 }